.card {
  background-color: #333;
  box-shadow: 0 0 30px rgba(16, 14, 23, 0.25);
  border-radius: 8px;
  transition: width 2s;
  transition: all 0.2s ease-in-out;

  &.data {
    border-bottom: 1em solid #00c9b7;

    .tag {
      background-color: #00c9b7;
    }
  }

  &.research {
    border-bottom: 1em solid #00afea;

    .tag {
      background-color: #00afea;
    }
  }

  &.analysis {
    border-bottom: 1em solid #ff6138;

    .tag {
      background-color: #ff6138;
    }
  }

  .tags {
    position: absolute;
    top: 10%;
    right: 10%;
  }

  img {
    height: 110%;
  }

  svg {
    position: absolute;
    left: 0;
    top: 70px;
  }

  .card__line {
    stroke: #00afea;
  }

  .description {
    padding-top: 3em;

    p,
    h1 {
      color: white;
      margin-bottom: 1em;
    }

    h1 {
      font-size: 24px;
    }

    .author-meta {
      display: flex;
      justify-content: space-between;
    }
  }

  &:hover {
    transition: width 2s;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;

    img {
      height: 150%;
    }

    svg {
      top: 150px;
    }

    .description {
      padding-top: 7em;
    }
  }
}
