.article-view-title {
  h1 {
    font-family: 'Raleway, sans-serif';
    font-size: 40px;
    margin: 0.5em 0 0.5em 0;
  }
}

.media {
  margin-bottom: 3em;

  .media-left {
    img {
      border-radius: 50%;
      height: 60px;
      overflow: hidden;
      position: relative;
      width: 60px;
    }
  }

  .media-content {
    padding: 5px 0;
    .author-name,
    .publish-date {
      font-family: 'Raleway, sans-serif';
    }
  }
}

.featured-image {
  margin-bottom: 3em;
}
