.navbar {
  background-color: $white;

  a {
    color: $off-black;
    font-size: 14px;
    font-weight: bold;
  }

  .navbar-brand {
    .logo-text {
      color: $black;
      font-size: 24px;
      font-style: italic;
      margin: 0;
      padding: 0;
    }
  }

  .navbar-start {
    margin-left: 4em;
    a.navbar-item:hover,
    a.navbar-item:focus {
      color: $blue-hover;
      background-color: transparent !important;
      text-decoration: none;
    }
  }

  .navbar-end {
    a {
      margin-left: 4em;
    }
    a.button {
      background-color: $circle-blue;
      border: 1px solid $white;
      border-radius: 21px;
      color: $white;
      padding: 1.5em;

      &:hover {
        background-color: $blue-hover;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
