.article_card {
  background-color: $card-gray;
  box-shadow: 0 0 30px rgba(16, 14, 23, 0.25);
  border-radius: 8px;
  transition: width 2s;
  transition: all 0.2s ease-in-out;

  &.data {
    border-bottom: 1em solid $active;

    .tag {
      background-color: $active;
    }
  }

  &.research {
    border-bottom: 1em solid $static;

    .tag {
      background-color: $static;
    }
  }

  &.analysis {
    border-bottom: 1em solid $color-orange;

    .tag {
      background-color: $color-orange;
    }
  }

  .tag {
    color: $white;
  }

  .tags {
    position: absolute;
    top: 10%;
    right: 10%;
  }

  img {
    height: 110%;
  }

  .description {
    p,
    h1 {
      color: $white;
      margin-bottom: 1em;
    }

    h1 {
      font-size: 24px;
    }

    .author-meta {
      display: flex;
      justify-content: space-between;
    }
  }

  &:hover {
    transition: width 2s;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;

    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);

    &.data {
      border-bottom: 1em solid darken($active, 10%);

      .tag {
        background-color: darken($active, 10%);
      }
    }

    &.research {
      border-bottom: 1em solid darken($static, 10%);

      .tag {
        background-color: darken($static, 10%);
      }
    }

    &.analysis {
      border-bottom: 1em solid darken($color-orange, 10%);

      .tag {
        background-color: darken($color-orange, 10%);
      }
    }
  }
}
