.article-view-title {
  h1 {
    font-family: $primary-font;
    font-size: 32px;
    margin: 1.5em 0 0.5em 0;

    @include bp(md) {
      font-size: 40px;
    }
  }
}

.media {
  &.meta {
    margin-bottom: 1em;

    .media-left {
      img {
        border-radius: 50%;
        height: 60px;
        overflow: hidden;
        position: relative;
        width: 60px;
      }
    }

    .media-content {
      padding: 5px 0;
      .author-name,
      .publish-date {
        font-family: $primary-font;
      }
    }

    @media only screen and (max-width: 768px) {
      padding: 0 2em;
    }
  }
}

.featured-image {
  margin-bottom: 3em;
}
