.article-tile {
  background-color: $white !important;
  // box-shadow: 0 0 30px rgba(16, 14, 23, 0.25);
  display: block;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  transition: width 2s;
  transition: all 0.2s ease-in-out;
  padding: 0;

  .thumbnail {
    background-color: $white;
    position: relative;
    .tag {
      position: absolute;
      right: 0;
      top: 10%;
    }
  }

  .content {
    background-color: $white;
    height: 145px;
    font-family: $primary-font;
    padding: 10px 15px;
    position: relative;

    h1 {
      color: darken($title-blue, 5%);
      font-size: 1em;
      height: 85px;
      line-height: 1.5;
      margin-bottom: 1em;
    }

    .author-meta {
      align-items: center;
      display: flex;
      font-size: 14px;
      justify-content: space-between;

      span {
        color: darken($title-blue, 5%);
      }

      &__name {
        padding: 5px 0 0;
      }
    }
  }

  &.data {
    border-bottom: 2px solid $active;

    .tag {
      background-color: $active;
      border-radius: 0;
    }
  }

  &.research {
    border-bottom: 2px solid $static;

    .tag {
      background-color: $static;
      border-radius: 0;
    }
  }

  &.analysis {
    border-bottom: 2px solid $color-orange;

    .tag {
      background-color: $color-orange;
      border-radius: 0;
    }
  }

  .tag {
    color: $white;
  }

  &:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;

    .content,
    .thumbnail {
      background-color: lighten($title-blue, 80%);

      h1 {
        text-decoration: underline;
      }
    }

    // box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);

    // &.data {
    //   border-bottom: 2px solid darken($active, 10%);

    //   .tag {
    //     background-color: darken($active, 10%);
    //   }
    // }

    // &.research {
    //   border-bottom: 2px solid darken($static, 10%);

    //   .tag {
    //     background-color: darken($static, 10%);
    //   }
    // }

    // &.analysis {
    //   border-bottom: 2px solid darken($color-orange, 10%);

    //   .tag {
    //     background-color: darken($color-orange, 10%);
    //   }
    // }
  }

  &.featured {
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;

    .content {
      width: 34.285714285714285%;
      box-sizing: border-box;
      flex-direction: column;
    }

    .thumbnail {
      // width: 59%;
      width: 65.71428571428571%;
      overflow: hidden;

      img {
        float: left;
      }
    }
  }
}
