.breadcrumb {
  .articles {
    margin-top: 5em;

    a,
    a:hover {
      color: $white;
      font-weight: bold;
    }

    .is-active {
      a {
        color: $black;
      }
    }
  }

  .article {
    margin-top: 5em;
    a,
    a:hover {
      color: $active;
      font-weight: bold;
    }

    .is-active {
      a {
        color: $black;
      }
    }
  }
}
