.breadcrumb {
  margin-bottom: 0 !important;
  width: 100%;
  position: absolute;
  margin-top: 2em;
  z-index: 20;

  li:not(:first-child) {
    &::before {
      color: $grey-dark !important;
      font-size: 0.9em;
      content: '>' !important;
    }

    &.is-active a {
      color: $grey-light;
    }
  }

  a {
    font-size: 0.9em;
    color: $grey;

    &:hover {
      color: $primary;
    }

    &.is-pulled-right {
      padding-right: 0;
    }
  }

  @include touch {
    display: none;
  }
}
