.content {
  .articles {
    padding: 5em 0;
  }
}

.meta-category {
  display: flex;
  justify-content: center;

  a.button {
    border-radius: 12px;
    margin: 1em 0.5em;
    text-decoration: none;
  }
}
