.footer {
  background-color: $dark-blue;

  .navbar-start {
    flex-direction: column;

    .navbar-item:not(.legal) {
      color: $white;
      font-weight: 700;
      padding: 0 0 10px;

      &:hover {
        background-color: transparent !important;
        text-decoration: underline;
      }
    }

    span {
      &.legal {
        display: block;

        p {
          color: $metal-grey;
        }

        @include bp(md) {
          display: flex;
        }

        .navbar-item {
          color: $dark-grey;
          font-weight: 700;
          padding: 0;

          &:hover {
            background-color: transparent !important;
            text-decoration: underline;
          }

          @include bp(md) {
            padding: 0.5rem 0.75rem;
          }
        }

        span {
          display: none;

          @include bp(md) {
            display: block;
          }
        }
      }
    }
  }

  .navbar-end {
    align-items: flex-start;

    a.button {
      background-color: $blue-hover;
      border: 1px solid $circle-blue;
      border-radius: 10px;
      color: $white;
      padding: 1.5em;

      &:hover {
        background-color: lighten($blue-hover, 10%);
        color: $white;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
