.hero-home {
  background-image: linear-gradient(
    to bottom,
    #004967,
    #00537f,
    #005c97,
    #0064b0,
    #006bc7,
    #0174d3,
    #017ce0,
    #0085ec,
    #0091ef,
    #009df0,
    #00a8f0,
    #04b2ef
  );
  position: relative;

  .bg-circle {
    background: $circle-blue;
    border-radius: 500px;
    height: 700px;
    margin: -180px 0px 0px -180px;
    opacity: 0.5;
    position: absolute;
    width: 700px;

    @media only screen and (max-width: 768px) {
      height: 500px;
      width: 500px;
    }
  }

  .sm-circle {
    background: $active;
    border-radius: 100px;
    height: 80px;
    opacity: 0.5;
    position: absolute;
    margin: 250px 0 0 580px;
    width: 80px;
  }

  .bg-open-circle {
    background: rgba(50, 115, 220, 0);
    border-radius: 400px;
    border: 5px solid $static;
    height: 700px;
    opacity: 0.2;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0px -200px -190px 0px;
    width: 700px;
  }

  .sm-open-circle {
    background: rgba(50, 115, 220, 0);
    border-radius: 400px;
    border: 5px solid $static;
    height: 400px;
    opacity: 0.2;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
  }

  .middle-content {
    margin-bottom: 2em;

    .image {
      justify-content: flex-start;
      img {
        border-radius: 15px;
        width: 50%;
        z-index: 2;

        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }

    .animation {
      justify-content: flex-start;
      width: 50%;

      @media only screen and (max-width: 768px) {
        width: 100%;
        height: 300px;
        justify-content: center;
      }

      .hero-anime {
        color: $white;
        font-size: 80px;
        line-height: 1;
        z-index: 2;

        @media only screen and (max-width: 768px) {
          font-size: 63px;
          text-align: center;
        }
      }
    }
  }

  .level {
    .contact-info-icons {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      z-index: 10;

      @media only screen and (max-width: 768px) {
        justify-content: center;
      }

      .links {
        display: flex;
        justify-content: space-between;
      }

      a {
        text-decoration: none;
        color: $color-bright;
        font-size: 0.5em;
      }

      .links a {
        display: block;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px solid transparent;
          transition: all 0.3s;
        }

        &:hover::after {
          --transformed-box-diagonal-length: 164%;
          width: var(--transformed-box-diagonal-length);
          left: calc((100% - var(--transformed-box-diagonal-length)) / 2);
        }

        div {
          position: relative;
          display: block;
          width: 40px;
          height: 40px;
          transition: transform 0.3s;
          margin: 1.5em;
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: 0.5s;
          border: 1px solid $color-bright;
          border-radius: 5px;

          &:nth-child(5) {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
          }
        }
      }

      .links a:hover div {
        transform: rotate(-35deg) skew(20deg);
      }

      .links a:hover span:nth-child(5) {
        transform: translate(20px, -20px);
        opacity: 1;
      }
      .links a:hover span:nth-child(4) {
        transform: translate(15px, -15px);
        opacity: 0.8;
      }
      .links a:hover span:nth-child(3) {
        transform: translate(10px, -10px);
        opacity: 0.6;
      }
      .links a:hover span:nth-child(2) {
        transform: translate(5px, -5px);
        opacity: 0.4;
      }
      .links a:hover span:nth-child(1) {
        opacity: 0.2;
      }

      /* orange background spans */
      .links a.orange-background span {
        background: $active;
        border-color: $color-bright;
      }
      .links a.orange-background span:nth-child(5) {
        background: $static;
      }

      /* orange shadow */
      .links a.orange-shadow:hover span {
        box-shadow: -1px 1px 3px $active;
      }

      /* orange border  */
      .links a.orange-border span {
        border-color: $active;
      }
      .links a.orange-border span:nth-child(5) {
        border-color: $color-bright;
      }

      .vl {
        border-left: 1px solid $white;
        height: 110px;
        margin: 0 1em;

        @media only screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    .description {
      flex-direction: column;
      align-items: flex-start;
      z-index: 999;

      @media only screen and (max-width: 768px) {
        align-items: center;
      }

      p {
        color: #f8f8f8;
        font-size: 14px;
        width: 256px;
        text-align: left;
      }

      a {
        color: $started;
        display: flex;
        font-style: italic;
        font-weight: 500;
        margin-left: 0.5em;
        margin-top: 5px;

        .link-text {
          line-height: 1.7;
        }
      }

      .circle-btn.btn-2 {
        .icon {
          color: $bg;
        }
        &:hover {
          .icon {
            animation: arrowmove 0.75s ease-in-out;
            animation-fill-mode: forwards;
          }
        }
      }

      .circle-btn.btn-2 .circle-bg::after {
        content: '';
        position: absolute;
        top: $border;
        left: $border;
        width: $size - ($border * 2);
        height: $size - ($border * 2);
        border-radius: 100%;
        background: $static;
      }
    }
  }

  .hero-foot {
    padding-top: 1em;
    z-index: 150;
  }
}

.circle-btn {
  cursor: pointer;
  display: block;
  position: relative;
  width: $size;
  height: $size;
  line-height: $size;
  overflow: hidden;
  left: 5%;
  margin-left: -($size/2);
}

.explore {
  position: absolute;
  z-index: 2;
  font-size: 14px;
  color: $static;
  margin: 0;
  margin-left: 0.2em;
  padding: 0;
  line-height: $size;
}

.icon {
  height: 2rem;
}

/* CIRCLE BTN 2 */
.circle-btn.btn-2 {
  .icon {
    color: $bg;
  }
  &:hover {
    .icon {
      animation: arrowmove 0.75s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

.circle-btn.btn-2 .circle-bg::after {
  content: '';
  position: absolute;
  top: $border;
  left: $border;
  width: $size - ($border * 2);
  height: $size - ($border * 2);
  border-radius: 100%;
  background: $static;
}

.circle-btn.btn-2 {
  margin-right: 0.25em;
  .circle-bg span {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    em {
      position: absolute;
      border-radius: 999px;
      width: 100%;
      height: 100%;
      background: $started;
      transition: transform 0.25s linear;
    }
    &:first-child {
      left: 0%;
      em {
        left: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transform-origin: 0% 50%;
      }
    }
    &:last-child {
      left: 50%;
      em {
        left: -100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transform-origin: 100% 50%;
        transition-delay: 0.25s;
      }
    }
  }
  &:hover {
    .circle1 span,
    .circle-bg span {
      &:first-child {
        em {
          transform: rotate(-180deg);
          transition: transform 0.5s ease-out;
          transition-delay: 0.25s;
        }
      }
      &:last-child {
        em {
          transform: rotate(-180deg);
          transition: transform 0.25s ease-in-out;
        }
      }
    }
  }
}

a {
  &:hover {
    transition: transform 0.5s ease-in-out;
    .circle1 span,
    .circle-bg span {
      &:first-child {
        em {
          transform: rotate(-180deg);
          transition: transform 0.5s ease-out;
          transition-delay: 0.25s;
        }
      }
      &:last-child {
        em {
          transform: rotate(-180deg);
          transition: transform 0.25s ease-in-out;
        }
      }
    }
  }
}

.bounce:hover {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.hero.archive {
  background-color: #ff8138;
  padding: 2em 0em 4em 0em;

  @media only screen and (max-width: 768px) {
    padding: 0em 0em 3em 0em;
  }
}

.hero {
  &.login-page,
  &.register-page {
    background-color: $light-gray;
  }

  .login-button {
    background-color: $active;
    border: 1px solid $white;
    border-radius: 21px;
    color: $white;
  }
}
