.navbar {
  background-color: $white;
  z-index: 1000 !important;

  a {
    color: $title-blue;
    font-size: 16px;
    font-weight: bold;
  }

  .is-active {
    .navbar-start {
      margin-left: 1.5em;
    }

    .navbar-end {
      a.button {
        margin-left: 1em;
      }
    }
  }

  .navbar-brand {
    .logo-text {
      color: $black;
      font-size: 24px;
      // font-style: italic;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    img {
      max-height: 2.75rem;
    }
  }

  .navbar-start {
    margin-left: 4em;
    a.navbar-item:hover,
    a.navbar-item:focus {
      color: $blue-hover;
      background-color: transparent !important;
      text-decoration: none;
    }
  }

  .navbar-end {
    a {
      margin-left: 4em;
    }
    a.button {
      border: 1px solid $circle-blue;
      border-radius: 10px;
      color: $circle-blue;
      padding: 1.5em;

      &:hover {
        background-color: $blue-hover;
        color: $white;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
