form {
  font-size: 1.8em !important;
  font-weight: 600;

  input {
    background-color: $white;
    border: 1px solid transparent;
    border-color: #b5b5b5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    color: #363636;
    height: 2.25em;
    font-family: 'Soleil', 'Montserrat', sans-serif;
    font-size: 1rem;

    &::placeholder {
      font-size: 0.8em;
      opacity: 1;
    }

    @media only screen and (max-width: 768px) {
      width: 100% !important;
    }
  }
}
