.cols {
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -20px -30px;

  @include bp(md) {
    margin: 0 -10px -30px;
  }

  &.is-mobile {
    display: flex;
  }

  &.align-center {
    justify-content: center;
  }

  &.align-center-md {
    @include bp(md) {
      justify-content: center;
    }
  }

  &.align-center-lg {
    @include bp(lg) {
      justify-content: center;
    }
  }

  &.align-center-xl {
    @include bp(xl) {
      justify-content: center;
    }
  }

  &.align-right {
    justify-content: flex-end;
  }

  @include bp(sm) {
    display: flex;
  }
}

.col {
  box-sizing: border-box;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 20px 10px;
  overflow: hidden;

  @include bp(md) {
    padding: 0 10px 30px;
  }

  &:last-child {
    margin: 0;
  }

  &.align-content-center {
    text-align: center;
  }

  &.flex {
    display: flex;
  }

  @for $i from 1 through 12 {
    &.is-#{$i} {
      flex: none;
      width: ($i / 12) * 100%;
    }

    &.is-offset-#{$i} {
      margin-left: ($i / 12) * 100%;
    }
  }

  @include bp(sm) {
    margin: 0;
  }

  @include bp(sm) {
    @for $i from 1 through 12 {
      &.is-#{$i}-sm {
        flex: none;
        width: ($i / 12) * 100%;
      }

      &.is-offset-#{$i}-sm {
        margin-left: ($i / 12) * 100%;
      }
    }
  }

  @include bp(md) {
    @for $i from 1 through 12 {
      &.is-#{$i}-md {
        flex: none;
        width: ($i / 12) * 100%;
      }

      &.is-offset-#{$i}-md {
        margin-left: ($i / 12) * 100%;
      }
    }
  }

  @include bp(lg) {
    @for $i from 1 through 12 {
      &.is-#{$i}-lg {
        flex: none;
        width: ($i / 12) * 100%;
      }

      &.is-offset-#{$i}-lg {
        margin-left: ($i / 12) * 100%;
      }
    }
  }

  @include bp(xl) {
    @for $i from 1 through 12 {
      &.is-#{$i}-xl {
        flex: none;
        width: ($i / 12) * 100%;
      }

      &.is-offset-#{$i}-xl {
        margin-left: ($i / 12) * 100%;
      }
    }
  }

  img {
    height: auto;
    width: 100%;
  }

  &.flex {
    display: flex;
  }
}

.no-margin-top {
  margin-top: 0;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 30px;

  @include bp(md) {
    padding: 0 30px;
  }

  @include bp(lg) {
    margin: auto;
    padding: 0 15px;
  }

  @include bp(lg) {
    margin: auto;
  }
}

.text-align-center {
  text-align: center;
}

.hidden-touch {
  display: none !important;

  @include bp(lg) {
    display: block !important;
  }
}

.hidden-mobile {
  display: none !important;

  @include bp(md) {
    display: block !important;
  }
}

.hidden-tablet {
  display: none !important;

  @include bp(lg) {
    display: block !important;
  }
}

.hidden-desktop {
  @include bp(md) {
    display: none !important;
  }
}

.display-only-lg {
  display: none !important;

  @include bp(lg) {
    display: block !important;
  }
}

.vertical-align-center {
  flex-direction: column;
  display: flex;
  justify-content: center;

  @include bp(IE11) {
    display: block;
  }
}

section {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}
