html,
body {
  background-color: $light-gray;
  font-family: $primary-font;
}

.has-width {
  max-width: 500px;
}

.title.is-1 {
  font-family: $primary-font;
  font-size: 2.25em;

  @include bp(md) {
    font-size: 3em;
  }
}

.title.is-2 {
  font-family: $primary-font;
  font-size: 2em;

  @include bp(md) {
    font-size: 2.5em;
  }
}

.title.is-3 {
  font-family: $primary-font;
  font-size: 1.5em;

  @include bp(md) {
    font-size: 2em;
  }
}

.title.is-4 {
  font-family: $primary-font;
  font-size: 1em;

  @include bp(md) {
    font-size: 1.25em;
  }
}

.title.is-5 {
  font-family: $primary-font;
  font-size: 0.85em;

  @include bp(md) {
    font-size: 1em;
  }
}

.title.has-text-blue {
  color: $title-blue;
}

.top-content {
  padding: 4em 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include bp(md) {
      flex-direction: row;
    }
  }
}

.container {
  &.archive,
  &.articles {
    max-width: 1145px;
  }

  &.archive {
    margin-top: 50px;

    .level {
      form {
        margin-bottom: 1.5rem;

        .control {
          button {
            border-color: #dbdbdb;
          }
        }
      }

      .button {
        &.is-text {
          text-decoration: none;
        }

        &:hover {
          &.is-text {
            span:not(.icon) {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &.article,
  &.single {
    max-width: 800px;
  }
}

.article-view {
  margin: 85px 0;

  &-content {
    font-family: $primary-font;
    font-size: 18px;
  }
}

.bg-white {
  background-color: $white;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}
