@import '~bulma';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '../fonts/Raleway-Regular.ttf';
@import './variables.scss';
@import 'components/Navbar.scss';
@import 'components/Hero';
@import 'components/Article';
@import 'components/Content';
@import 'components/ArticleViewMeta';
@import 'components/Breadcrumb';
@import 'components/Blockquote';
@import 'components/SearchForm';

.has-width {
  max-width: 500px;
}

.title.is-2 {
  @media only screen and (max-width: 768px) {
    font-size: 1.1em;
  }
}

.title.is-3 {
  @media only screen and (max-width: 768px) {
    font-size: 1.1em;
  }
}

.top-content {
  align-items: flex-start;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.container {
  &.archive,
  &.articles {
    max-width: 1145px;
  }

  &.archive {
    margin-top: 3em;

    h2 {
    }
  }

  &.article,
  &.single {
    max-width: 800px;
  }
}

.article-view {
  &-content {
    font-family: $primary-font;
    font-size: 20px;
  }
}
