@import '~bulma';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '../fonts/Raleway-Regular.ttf';
@import './variables.scss';
@import 'components/Navbar.scss';
@import 'components/Hero';
@import 'components/Article';
@import 'components/Content';
@import 'components/ArticleViewMeta';
@import 'components/Breadcrumb';
@import 'components/Blockquote';
@import 'components/SearchForm';

.has-width {
  max-width: 500px;
}

.container {
  &.archive,
  &.articles {
    max-width: 1145px;
  }

  &.article,
  &.single {
    max-width: 800px;
  }
}

.article-view {
  &-content {
    font-family: $primary-font;
    font-size: 20px;
  }
}
