// colors
$bg: #233d4d;
$static: #00afea;
$active: #00c9b7;
$started: #004967;
$color-bright: #f2f1c6;
$color-orange: #ff6138;
$color-dark-grey: #2c3135;
$card-gray: #333;
$white: #fff;
$black: #111;
$circle-blue: #00537f;
$bq-red: rgb(230, 78, 78);
$bq-yellow: rgb(119, 119, 51);
$bq-blue: rgb(57, 57, 158);
$bq-green: rgb(46, 95, 46);

// fonts
$primary-font: 'Raleway, sans-serif';

// sizes
$size: 30px;
$border: 2px;
